.list-card {
    max-width: 100%;
    margin-bottom: 2px;
    border-bottom: 1px solid #fafafa;
}

.list-card-title {
    margin-bottom: 1px !important;
}

.list-card-labels .card-label {
    font-weight: 300 !important;
    letter-spacing: 0.6px !important;
    text-shadow: none !important;
}
