.list-card {
  overflow: hidden;
}

.list-card-labels {
  display: block;
  margin: 0 !important;
}

.list-card-labels .card-label {
  display: inline !important;
  height: inherit !important;
  width: auto !important;
  padding: 0 0.5em!important;
  margin-right: 2px;
  text-align: center;
  font-family: arial !important;
}

body.tpro-card-labels-size-small .list-card-labels .card-label {
  font-size: 8px;
  line-height: 13px;
}

body.tpro-card-labels-size-medium .list-card-labels .card-label {
  font-size: 10px;
  line-height: 14px;
}

body.tpro-card-labels-size-large .list-card-labels .card-label {
  font-size: 12px;
  line-height: 15px;
}

.list-card-labels .card-label.card-label-green { text-shadow: 1px 1px darkgreen }
.list-card-labels .card-label.card-label-yellow { text-shadow: 1px 1px dimgrey; }
.list-card-labels .card-label.card-label-orange { text-shadow: 1px 1px darkorange }
.list-card-labels .card-label.card-label-red { text-shadow: 1px 1px crimson; }
.list-card-labels .card-label.card-label-purple { text-shadow: 1px 1px rebeccapurple; }
.list-card-labels .card-label.card-label-blue { text-shadow: 1px 1px darkblue; }
.list-card-labels .card-label.card-label-pink { text-shadow: 1px 1px hotpink; }
.list-card-labels .card-label.card-label-lime { text-shadow: 1px 1px limegreen; }
.list-card-labels .card-label.card-label-black { text-shadow: 1px 1px black; }
